<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_area :price %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_area :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_area :end_date%>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>