<li>
	<div class="name"><%= event.name %></div>
    <div class="location"><span class="event-title">Location:</span> <%= event.location %></div>
    <div class="start_date"><span class="event-title">Starting:</span> <%= event.start_date %></div>
    <div class="end_date"><span class="event-title">Ending:</span> <%= event.end_date %></div>
    <div class="price"><span class="event-title">Cost:</span> <%= event.price %></div>
	<div class="content"><span class="event-title">Description:</span> <%= event.content %></div>
</li>